@model br.com.Chronos.Entidade.OrdemDeServico
<<<<<<< HEAD
<<<<<<< HEAD
@using br.com.Chronos.Idioma.Resources
   
=======
@using br.com.Chronos.Idioma.Resources

>>>>>>> 904ea71a60a7c502002b15a07780b43cd3535016
<div class="col-md-12 form-group">
    <div class="col-md-6 ">
        <input type="submit" value="Create" class="btn btn-lg btn-primary" />
        <input type="submit" value="Edit" class="btn btn-lg btn-info" />
        <input type="submit" value="Save" class="btn btn-lg btn-success" />
        <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
    </div>
<<<<<<< HEAD
    
        @Html.LabelFor(model => model.NumeroOS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.NumeroOS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumeroOS, "", new { @class = "text-danger" })
        </div>
   
</div>

=======

   // Gian
>>>>>>> 3186b3c58ebf2732634bbe0fdf796323e85567b4
    <div class="form-horizontal">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#DadosPrincipais">Dados Principais</a></li>
            <li><a data-toggle="tab" href="#Eventos">Eventos</a></li>
            <li><a data-toggle="tab" href="#DocAnexos">Documentos Anexos</a></li>
            <li><a data-toggle="tab" href="#Emails">Email</a></li>
        </ul>
=======

    @Html.LabelFor(model => model.NumeroOS, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.NumeroOS, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NumeroOS, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-horizontal">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#DadosPrincipais">Dados Principais</a></li>
        <li><a data-toggle="tab" href="#Eventos">Eventos</a></li>
        <li><a data-toggle="tab" href="#DocAnexos">Documentos Anexos</a></li>
        <li><a data-toggle="tab" href="#Emails">Email</a></li>
    </ul>

</div>
<div class="tab-content">
    <div id="DadosPrincipais" class="tab-pane fade in active">
        <div class="form-group">
            @Html.LabelFor(model => model.DataCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataCriacao, "", new { @class = "text-danger" })
            </div>
        </div>
>>>>>>> 904ea71a60a7c502002b15a07780b43cd3535016

    </div>
    <div class="tab-content">
        <div id="DadosPrincipais" class="tab-pane fade in active">
            <div class="form-group">
                @Html.LabelFor(model => model.DataCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataCriacao, "", new { @class = "text-danger" })
                </div>
            </div>

<<<<<<< HEAD
            <div class="form-group">
                @Html.LabelFor(model => model.IdResponsavelCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdResponsavelCriacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdResponsavelCriacao, "", new { @class = "text-danger" })
                </div>
            </div>
=======

>>>>>>> 904ea71a60a7c502002b15a07780b43cd3535016



            <div class="form-group">
                @Html.LabelFor(model => model.NivelDaOS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NivelDaOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NivelDaOS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NomeDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeDocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeDocumento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReferenciaExemplo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReferenciaExemplo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReferenciaExemplo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataVencimentoOS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataVencimentoOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataVencimentoOS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataConclusaoOS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataConclusaoOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataConclusaoOS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescricaoOS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescricaoOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescricaoOS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ObservacaoOS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ObservacaoOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ObservacaoOS, "", new { @class = "text-danger" })
                </div>
            </div>

<<<<<<< HEAD
            <div class="form-group">
                @Html.LabelFor(model => model.TipoDeContato, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TipoDeContato, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TipoDeContato, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
=======

    </div>
>>>>>>> 904ea71a60a7c502002b15a07780b43cd3535016

        <div id="Eventos" class="tab-pane">
            <h3>Eventos</h3>
            <p>Em construção</p>
        </div>

        <div id="DocAnexos" class="tab-pane">
            <h3>Documentos Anexos</h3>
            <p>Em construção</p>
        </div>

        <div id="Emails" class="tab-pane">
            <h3>Emails</h3>
            <p>Em construção</p>
        </div>



    </div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
