@model br.com.Chronos.Entidade.Evento
@using br.com.Chronos.Idioma.Resources

@section style
 {
    <link href="~/Content/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet"/>
 }


<div class="panel panel-info">
    <div class="panel-heading">
        <center><h2>@Language.Evento</h2></center>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="panel-body">
        <div class="col-md-12 form-group">
            <input type="submit" value="Create" class="btn btn-lg btn-primary" />
            <input type="submit" value="Edit" class="btn btn-lg btn-info" />
            <input type="submit" value="Save" class="btn btn-lg btn-success" />
            <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
        </div>
        <div class="col-md-12 form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.CorHexadecimal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CorHexadecimal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CorHexadecimal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <!-- form input mask -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Styled</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="input-group demo2">
                                <input type="text" value="#000000" class="form-control" />
                                <span class="input-group-addon"><i style="background-color: rgb(0, 0, 0);"></i></span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<!-- color picker -->
<script src="~/Scripts/colorpicker/bootstrap-colorpicker.js"></script>
<script src="~/Scripts/colorpicker/docs.js"></script>
}