@using br.com.Chronos.Idioma.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Language.NomeProjeto</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap-style" href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/style-responsive.css" rel="stylesheet">

    @RenderSection("style", false)
</head>
<body>
    

    <div id="cabecalho" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Language.NomeProjeto</a>
            </div>
        </div>
    </div>
      
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="active">
                            @Html.ActionLink("Login", "Index", "Home", null, new { @class = "hidden-tablet" })
                                <i class="icon-bar-chart">

                                </i>
                        </li>
                        <li>
                            <a class="dropmenu" href="#">
                                <i class="icon-folder-close-alt">

                                </i>
                                <span class="hidden-tablet">Cadastros</span>
                            </a>
                            <ul >
                                
                                <li>
                                    @Html.ActionLink(Language.Cliente, "Index", "Cliente", null, new { @class = "submenu" })
                                    <i class="icon-file-alt"></i>
                                    
                                </li>
                                <li>
                                    @Html.ActionLink(Language.Setor, "Index", "Setor", null, new { @class = "submenu" })
                                    <i class="icon-file-alt"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Eventos", "Index", "Eventos", null, new { @class = "submenu" })
                                    <i class="icon-file-alt"></i>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            
        
    
    <div id="wrapper">
        <div id="corpo">
            @RenderBody()
        </div>
        <div id="rodape">
            <footer>
                <p>&copy; @DateTime.Now.Year - @Language.NomeProjeto</p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.0.0.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

</body>
</html>