@using br.com.Chronos.Idioma.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Language.NomeProjeto</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("style", false)
</head>
<body>
    <div id="cabecalho" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Language.NomeProjeto, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="navbar-brand" href="#">Login</a>
                    </li>
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            Cadastros
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink(Language.Setor, "Index", "Setor", null, new { @class = "navbar-brand" })
                            </li>
                            <li>
                                @Html.ActionLink("Cliente", "Index", "Cliente", null, new { @class = "navbar-brand" })
                            </li>
                            <li>
                                @Html.ActionLink("Eventos", "Index", "Eventos", null, new { @class = "navbar-brand" })
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div id="wrapper">
        <div id="corpo">
            @RenderBody()
        </div>
        <div id="rodape">
            <footer>
                <p>&copy; @DateTime.Now.Year - @Language.NomeProjeto</p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>